<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre la aplicación</title>
    <link rel="stylesheet" href="../static/estilos.css">
</head>
<body class="body">
    <div>
        <div class="enlaces_segundarios">
            <div class="logo">
                <a class="a" href="\">
                   <h2>Planet Assistance APP</h2>
                </a>
            </div>

            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="ejercicio1">ejercicio 1</a>
            </div>
            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="ejercicio2">ejercicio 2</a>
            </div>
            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="contactanos">contactanos</a>
            </div>

        </div>
    </div>

    <div class="titulo">
        <h1>Sobre esta aplicación</h1>
    </div>

    <div class="margenes">
       <div class="funcionamiento">
           
            <p>A continuación se muestra el funcionamiento y los objetivos de la
            aplicación que está diseñada para facilitar y mejorar su vida.
            </p>
           <h3>Ejercicio N°1</h3>
           <div class="ejemplo">
                <p>
                    Primeramente en el Ejercicio N°1 usted podra calcular
                    el descuento que puede aplicar a los clientes que frecuentan
                    su establecimiento, asignando un proporcional según la edad
                    del cliente.
                </p>
               <img class="imagen" width="300px" height="130px" src="">
               <img class="imagen2" width="300px" height="130px" src="">

           </div>

           <h3>Ejercicio N°2</h3>
           <div class="ejemplo">

                <p>
                    En la sección Ejercicio N°2, usted puede ingresar a
                    la base del programa para realzar la administración
                    de su negocio como administrador de su establecimiento
                    y ademas puede entrar como trabajador con distintas
                    atribuciones.
                </p>
               <img class="imagen3" width="300px" height="130px" src="">
               <img class="imagen4" width="300px" height="130px" src="">
           </div>
            
        </div>
    </div>



</body>
<footer class="footer">
    <p>Shadows - Todos los derechos reservados-</p>
</footer>
</html>