<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/estilos.css">
</head>
<body class="body">
    <div class="enlaces_segundarios">
        <div class="logo">
          <h2>Planet Assistance APP</h2>
        </div>

        <div class="enlaces_segundarios-subenlace">
           <a class="funcionamiento" href="funcionamiento">Sobre esta aplicación</a>
        </div>
        <div class="enlaces_segundarios-subenlace">
           <a class="funcionamiento" href="contactanos">contactanos</a>
        </div>
        <div class="enlaces_segundarios-subenlace">
           <a class="funcionamiento" href="nosotros">Sobre nosotros</a>
        </div>

    </div>

    <div class="ejercicios">
       <div class="ejercicios_enlaces">
            <a class="ejercicio1" href="ejercicio1">Ejercicio 1</a>
        </div>
        <div class="ejercicios_enlaces">
            <a class="ejercicio2" href="ejercicio2">Ejercicio 2</a>
        </div>
    </div>

    <div class="enunciado_index">
        <h1>Making the World easy</h1>
    </div>

</body>
<footer class="footer">
    <p>Shadows - Todos los derechos reservados-</p>
</footer>
</html>