<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="../static/estilos.css">
</head>
<body class="body">
    <div>
        <div class="enlaces_segundarios">
            <div class="logo">
                <a class="a" href="\">
                   <h2>Planet Assistance APP</h2>
                </a>
            </div>

            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="ejercicio1">ejercicio 1</a>
            </div>
            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="ejercicio2">ejercicio 2</a>
            </div>
            <div class="enlaces_segundarios-subenlace">
                <a class="funcionamiento" href="contactanos">contactanos</a>
            </div>

        </div>
    </div>

    <div class="titulo">
        <h1>Nosotros</h1>
    </div>

    <div class="nosotros">
        <div class="nosotros-margenes">
           <p>
                Una compañía concevida para ayudar a los emprendedores de nuestro
                país, estamos constantemente mejorando nuestros productos para
                brindar un producto de calidad y sencillo de utilizar.

            </p>
            <img class="examen" width="300" height="200" src="">
        </div>
        <div class="nosotros-margenes">
            <p>
                Siempre ha sido nuestro objetivo orientar un servicio de calidad
                al desarrollo de cada idea que nuestros clientes quieran explotar
                para realizar el sueño de la independencia y la sustentabilidad.

            </p>
            <img class="examen2" width="300" height="200" src="">
        </div>
        <div class="nosotros-margenes">
           <p>
                Nuestro horizonte siempre ha sido y continuará siendo el exito
                de odos nuestros clientes y la excelencia en su gestión, porque
                su exito es nuestro triunfo empresarial y nuestro porvenir.

            </p>
            <img class="examen3" width="300" height="200" src="">
        </div>

    </div>

</body>
<footer class="footer">
    <p>Shadows - Todos los derechos reservados-</p>
</footer>
</html>